.footer1 {
  min-height: 300px;
  background: #f7f8fa;
  .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 50px;
    position: relative;
    left: 30vw;

    .newsletter {
      .title {
        color: #191919;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        display: block;
        position: relative;
        left: 170px;
        font-family: "Hind", sans-serif;
        color: #191919;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
      .content {
        color: #777777;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        .inputEmail {
          width: 590px;
          height: 40px;
          .form-group {
            display: flex;
            flex: 0 0 auto;
            flex-flow: row wrap;
            align-items: center;
            font-family: "Hind", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            .form-control {
              background: #ffffff;
              border-color: #ffffff;
              padding-top: 2px;
              padding-bottom: 1px;
              line-height: 2.9;
              height: 40px;
              width: 400px;
              font-size: 14px;
              border: 1px solid #f7f8fa;
              font-family: "Hind", sans-serif;
              outline: none;
              border-radius: 6px;
            }

            .btn {
              color: #ffffff;
              background: #2879fe;
              border-radius: 6px;
              border: none;
              color: #ffffff;
              font-size: 14px;
              padding: 6px 31px 4px;
              height: 40px;
            }
          }
        }
      }
    }
    .icon {
      color: #d6d6d6;
      font-size: 14px;
      cursor: pointer;
      ul {
        display: flex;
        position: relative;
        left: 110px;
        li {
          padding-left: 20px;
        }
      }
    }
  }
}
.footer2 {
  min-height: 70px;
  background-color: #ffffff;
  color: #888888;

  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  .container {
    max-width: 1170px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    .col-left {
      margin-left: 10px;
      display: flex;
      align-items: center;
      .logo {
        img {
          max-height: 30px;
          height: auto;
          position: relative;
          vertical-align: middle;
          border-style: none;
          
        }
      }
      .item {
        padding-top: 0px;
        padding-bottom: 7px;
        position: relative;
        top: 10px;
        padding-left: 5px;
        margin-left: 5px;
        
        .tt-box-copyright {
          padding: 0px 0 7px;
        }
      }
    }
  }
  .col-right {
    .list-brand {
     
      ul {
        display: flex;
        li {
          .img {
            height: 2px;
            width: 3px;
          }
        }
      }
    }
  }
}
