* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

header {
  height: 80px;
  width: 100vw;
}

.menu {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 15px;
  .logo {
    position: absolute;
    top: 50%;
    left: 47%;
  }
  .box {
    position: absolute;
    left: 1200px;
    top: 50%;
    i {
      margin: 6px;
    }
  }
}

.menu1 {
  margin-top: 39px;
  .container1 {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin-right: 15px;

      &:hover {
        ul.dropdown-home {
          visibility: visible;
          opacity: 1;
        }
      }
     
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      padding: 8px 0;
      text-transform: uppercase;
      font-size: 15px;
      color: rgb(22, 21, 21);
    }
    ul.dropdown-home {
      position: absolute;
      background-color: rgb(244, 241, 247);
      width: 1100px;
      height: 600px;
      left: 0;

      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in;

      display: flex;
          justify-content: space-between;

      li{
          
      }
    }
  }
}
