header{
    height: 80px;
    width: 100vw;

}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 15px;

}
.box{
   position: absolute;
   left: 1250px;
  
 }
 .box i {
     margin: 6px;

 }
 .navbars{
     margin: 10px 0px;
 }
 .navbars ul {
     display: flex;
   justify-content: center;
  margin-top: 0px;
  padding: 0px;
  margin: 0px;
   
    
 }
 .navbars ul li a{
    text-decoration: none;
    padding: 0 10px;
 
 }
 li{
    list-style: none;
    

 }
a{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(22, 21, 21);
}